## 03. 동적 웹 크롤링

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup

In [2]:
driver = webdriver.Chrome('chromedriver')  # 웹 브라우저 띄우기
## http://www.opinet.co.kr/searRgSelect.do 접속 
driver.get('https://datalab.naver.com/keyword/realtimeList.naver')

In [7]:
soup = BeautifulSoup(driver.page_source, 'lxml') # 페이지 소스 가져오기
teen_year = soup.find_all("ul", class_ = "rank_list v2") 
li_part1 = teen_year[0].find_all("li", class_="list")
li_part2 = teen_year[1].find_all("li", class_="list")
li_part3 = teen_year[2].find_all("li", class_="list")

len(li_part1)

20

In [8]:
key_word1 = []
key_word2 = []
key_word3 = []
for items in li_part1:
    word = items.find("span", class_="title")
    key_word1.append(word.text)

for items in li_part2:
    word = items.find("span", class_="title")
    key_word2.append(word.text)

for items in li_part3:
    word = items.find("span", class_="title")
    key_word3.append(word.text)
    
print(key_word1)
print(key_word2)
print(key_word3)

['히든프라이스', '야옹이 작가', '박영선', '여신강림 작가', '조양호', '감스트', '이매리', '위자', '파키라', '타인은 지옥이다', '붐붐파워', '이언주', '조현우', '한국도로공사 채용', '인플루엔자', 'gi지수 낮은 음식', '이원진', '진영', '팔카오', '임시완']
['히든프라이스', '여신강림 작가', '감스트', '야옹이 작가', '빅히트샵', '반티', '장난스런키스', '수요일 문화의 날 영화', '문화의날', '타인은 지옥이다', '커리어넷', '어스', '러블랭', '임시완', '팔카오', '김새론', '전소미', '씨지브이', '경남대 e캠퍼스', '어스 영화']
['히든프라이스', '여신강림 작가', '야옹이 작가', '감스트', '한국도로공사 채용', '타인은 지옥이다', '위자', '조양호', '임시완', '문화의날', '롯데 채용', '어스', '팔카오', '조현우', '김새론', '수요일 문화의 날 영화', '박영선', '영화 어스', '어스 영화', '군함도']

In [11]:
dict_val = {"10대":key_word1, "20대":key_word2, "30대":key_word3}

# In[12]:
import pandas as pd
dat = pd.DataFrame(dict_val)
print(dat)

dat.to_excel("output.xlsx", sheet_name='Sheet_name_1', index=True)

           10대           20대           30대
0       히든프라이스        히든프라이스        히든프라이스
1       야옹이 작가       여신강림 작가       여신강림 작가
2          박영선           감스트        야옹이 작가
3      여신강림 작가        야옹이 작가           감스트
4          조양호          빅히트샵     한국도로공사 채용
5          감스트            반티      타인은 지옥이다
6          이매리        장난스런키스            위자
7           위자  수요일 문화의 날 영화           조양호
8          파키라          문화의날           임시완
9     타인은 지옥이다      타인은 지옥이다          문화의날
10        붐붐파워          커리어넷         롯데 채용
11         이언주            어스            어스
12         조현우           러블랭           팔카오
13   한국도로공사 채용           임시완           조현우
14       인플루엔자           팔카오           김새론
15  gi지수 낮은 음식           김새론  수요일 문화의 날 영화
16         이원진           전소미           박영선
17          진영          씨지브이         영화 어스
18         팔카오      경남대 e캠퍼스         어스 영화
19         임시완         어스 영화           군함도